div{

    display: inline-block;
    
    background-color: blueviolet;
    height: 100px;
    width: 100px;

    padding: 10px;
    border: 5px solid black;
    margin: 10px;

    box-sizing: content-box;
    box-sizing: border-box; 
}

span{
    display: block;
    display: inline-block;

    background-color: blueviolet;
    height: 100px;
    width: 100px;

    padding: 10px;
    border: 5px solid black;
    margin: 10px;

    box-sizing: content-box;
    box-sizing: border-box; 
    
}



/* element=> 130 x 130 =>  */