*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
button{
    border: none;
    background: none;
}
#progress{
    cursor: pointer;
}
i{
    font-size: 1.6rem;
}
#container{
    position: relative;
    border: 2px solid black;
    width: 360px;
    height: 400px;
    margin: 30px auto;
    text-align: center;
}
#play-section{
    padding: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    /* flex-direction: roe; */
}
#play-section > div{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.song-item{
    border: 1px solid black;
    pad: 5px;
    margin: 5px auto;
    width: 70%;
    border-radius: 10px;
    list-style: none;
}