*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    width: 90vw;
    height: 90vh;
    margin: 24px auto;

    display: grid;
    grid-template-columns: 200px 300px;
    grid-template-rows: 100px 100px 100px;
    grid-auto-flow: row;
    grid-auto-rows: 50px;
    /* grid-auto-flow: column;
    grid-auto-columns: 100px; */

}
.child{
    background-color: aqua;
    border: 2px solid black;
}

#child3{
    /* grid-column: span 2;
    grid-row: span 2; */

    /* grid-column-start: 1 ;
    grid-column-end: 3 ; */

    grid-column: 1/3;
    grid-row: 2/4;
}
#child7{}