*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    /* display: inline-block; */
}

/* child property */

#div2{
    /* ratio */
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    align-self: center;
}

#div4{
    /* flex-grow: 1; */
    /* flex-shrink: 5; */
    align-self: flex-end;
}


/* parent property */
section{
    height: 90vh;
    width: 100vw;
    border: 5px solid red;

    display: flex;
    /* flex-direction: row;
    flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse; */

    flex-direction: row;
    /* justify-content: center; */
    /* justify-content: start; default */
    justify-content: space-around;
    justify-content: space-evenly;
    justify-content: space-between;
    /* main axis => flex direction */

    /* ------------------------------------------- */
    /* cross axis => opp to flex direction */
    /* align-items: stretch; default */
    /* align-items: center;
    align-items: flex-end;
    align-items: flex-start; */

    /* ------------------------------------------- */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */

    /* ------------------------------------------- */
    align-content: flex-start;
    /* align-content: center;
    align-content: flex-end; */

    /* ------------------------------------------- */
    row-gap: 10px;
    column-gap: 10px;

}















